{% capture email_title %}パスワードをリセット{% endcapture %}
{% capture email_body -%}
  <a href='{{shop.url}}'>{{ shop.name }}</a
  >でのお客様アカウントのパスワードをリセットするためには、このリンクにアクセスしてください。新しいパスワードをリクエストしていない場合は、このメールを削除してください。よろしくお願いいたします。
{%- endcapture %}

<!doctype html>
<html lang='ja'>
  <head>
    <title>{{ email_title }}</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta name='viewport' content='width=device-width'>
    <link rel='stylesheet' type='text/css' href='/assets/notifications/styles.css'>
    <style>
      .button__cell { background: {{ shop.email_accent_color }}; }
      a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
    </style>
  </head>

  <body>
    <table class='body'>
      <tr>
        <td>
          <table class='header row'>
            <tr>
              <td class='header__cell'>
                <center>
                  <table class='container'>
                    <tr>
                      <td>
                        <table class='row'>
                          <tr>
                            <td class='shop-name__cell'>
                              {%- if shop.email_logo_url %}
                                <img
                                  src='{{shop.email_logo_url}}'
                                  alt='{{ shop.name }}'
                                  width='{{ shop.email_logo_width }}'
                                >
                              {%- else %}
                                <h1 class='shop-name__text'>
                                  <a href='{{shop.url}}'>{{ shop.name }}</a>
                                </h1>
                              {%- endif %}
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>

          <table class='row content'>
            <tr>
              <td class='content__cell'>
                <center>
                  <table class='container'>
                    <tr>
                      <td>
                        <h2>{{ email_title }}</h2>
                        <p>{{ email_body }}</p>
                        <table class='row actions'>
                          <tr>
                            <td class='empty-line'>&nbsp;</td>
                          </tr>
                          <tr>
                            <td class='actions__cell'>
                              <table class='button main-action-cell'>
                                <tr>
                                  <td class='button__cell'>
                                    <a
                                      href='{{ customer.reset_password_url }}'
                                      class='button__text'
                                      >パスワードをリセット</a
                                    >
                                  </td>
                                </tr>
                              </table>
                              {% if shop.url %}
                                <table class='link secondary-action-cell'>
                                  <tr>
                                    <td class='link__cell'>
                                      または<a href='{{ shop.url }}'>ショップにアクセスする</a>
                                    </td>
                                  </tr>
                                </table>
                              {% endif %}
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>
          <table class='row footer'>
            <tr>
              <td class='footer__cell'>
                <center>
                  <table class='container'>
                    <tr>
                      <td>
                        <p class='disclaimer__subtext'>
                          ご不明な点がございましたら、このメールにご返信いただくか、<a href='mailto:{{ shop.email }}'>
                            {{- shop.email -}}</a
                          >までご連絡ください。
                        </p>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>

          <img src='{{ 'notifications/spacer.png' | shopify_asset_url }}' class='spacer' height='1'>
        </td>
      </tr>
    </table>
  </body>
</html>
