<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Shopify Notifications</title>
    <link rel='stylesheet' href='https://unpkg.com/@shopify/polaris@9.21.1/build/esm/styles.css'>
    <link rel='stylesheet' href='/top.css'>
  </head>
  <body class='Top-Body'>
    <div class='Polaris-Frame Polaris-Frame--hasTopBar' data-polaris-layer='true'>
      <header
        class='Polaris-Frame__TopBar'
        data-polaris-layer='true'
        data-polaris-top-bar='true'
        id='AppFrameTopBar'
        style='width: 100%;'
      >
        <div class='Polaris-TopBar'>
          <div class='Polaris-TopBar__LogoContainer'>
            <h1>
              <a
                class='Polaris-TopBar__LogoLink'
                href='/'
                data-polaris-unstyled='true'
                >Shopify Notifications</a
              >
            </h1>
          </div>
          <div class='Polaris-TopBar-Menu TopBar__Menu'>
            <div class='Top-lang--pc'>
              <ul class='Top-lang__List'>
                <li class='Top-lang__List-item'>
                  <a class='Top-lang__List-link is-active' href='/'>English</a>
                </li>
                <li class='Top-lang__List-item'>
                  <a class='Top-lang__List-link' href='/ja/'>日本語</a>
                </li>
              </ul>
            </div>
            <details class='Top-lang--sp Top-lang__Drawer'>
              <summary class='Top-lang__summary'>Language</summary>
              <ul class='Top-lang__DrawerList'>
                <li class='Top-lang__DrawerList-item'>
                  <a class='Top-lang__DrawerList-link is-active' href='/'>English</a>
                </li>
                <li class='Top-lang__DrawerList-item'>
                  <a class='Top-lang__DrawerList-link' href='/ja/'>日本語</a>
                </li>
              </ul>
            </details>
          </div>
        </div>
      </header>
      <main
        class='Polaris-Frame__Main'
        id='AppFrameMain'
        data-has-global-ribbon='false'
      >
        <div class='Polaris-Page Polaris-Page--fullWidth'>
          <section class='Polaris-Page__Content'>
            <h2 class='Polaris-Header-Title'>Email templates</h2>
            <div class='Polaris-Layout'>
              <div class='Polaris-Layout__Section Polaris-Layout__Section--oneHal'>
                <h3 class='Polaris-Header-Title__SubTitle'>Orders</h3>
                <ul class='Polaris-List'>
                  {% for ordersItem in ordersList %}
                    {% if ordersItem.title_en %}
                      <li class='Polaris-List__Item'>
                        <a class='Polaris-Link' href='{{ordersItem.path}}/'>{{ ordersItem.title_en }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <div class='Polaris-Layout__Section Polaris-Layout__Section--oneHal'>
                <h3 class='Polaris-Header-Title__SubTitle'>Shipping</h3>
                <ul class='Polaris-List'>
                  {% for shippingItem in shippingList %}
                    {% if shippingItem.title_en %}
                      <li class='Polaris-List__Item'>
                        <a class='Polaris-Link' href='{{shippingItem.path}}/'>{{ shippingItem.title_en }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <div class='Polaris-Layout__Section Polaris-Layout__Section--oneHal'>
                <h3 class='Polaris-Header-Title__SubTitle'>Local delivery</h3>
                <ul class='Polaris-List'>
                  {% for localDeliveryItem in localDeliveryList %}
                    {% if localDeliveryItem.title_en %}
                      <li class='Polaris-List__Item'>
                        <a class='Polaris-Link' href='{{localDeliveryItem.path}}/'>{{ localDeliveryItem.title_en }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <div class='Polaris-Layout__Section Polaris-Layout__Section--oneHal'>
                <h3 class='Polaris-Header-Title__SubTitle'>Local pickup</h3>
                <ul class='Polaris-List'>
                  {% for localPickupItem in localPickupList %}
                    {% if localPickupItem.title_en %}
                      <li class='Polaris-List__Item'>
                        <a class='Polaris-Link' href='{{localPickupItem.path}}/'>{{ localPickupItem.title_en }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <div class='Polaris-Layout__Section Polaris-Layout__Section--oneHal'>
                <h3 class='Polaris-Header-Title__SubTitle'>Customer</h3>
                <ul class='Polaris-List'>
                  {% for customerItem in customerList %}
                    {% if customerItem.title_en %}
                      <li class='Polaris-List__Item'>
                        <a class='Polaris-Link' href='{{customerItem.path}}/'>{{ customerItem.title_en }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <div class='Polaris-Layout__Section Polaris-Layout__Section--oneHal'>
                <h3 class='Polaris-Header-Title__SubTitle'>Email marketing</h3>
                <ul class='Polaris-List'>
                  {% for emailMarketingItem in emailMarketingList %}
                    {% if emailMarketingItem.title_en %}
                      <li class='Polaris-List__Item'>
                        <a class='Polaris-Link' href='{{emailMarketingItem.path}}/'>
                          {{- emailMarketingItem.title_en -}}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <div class='Polaris-Layout__Section Polaris-Layout__Section--oneHal'>
                <h3 class='Polaris-Header-Title__SubTitle'>Returns</h3>
                <ul class='Polaris-List'>
                  {% for returnsItem in returnsList %}
                    {% if returnsItem.title_en %}
                      <li class='Polaris-List__Item'>
                        <a class='Polaris-Link' href='{{returnsItem.path}}/'>{{ returnsItem.title_en }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </section>
        </div>
      </main>
    </div>
  </body>
</html>
