{% capture email_title %} 注文 ({{ order_name }}) の決済を処理できませんでした {% endcapture %}
{% capture email_body %}
  請求はなされていません。注文の支払いを再試行するには、以下をクリックしてください。
{% endcapture %}

<!doctype html>
<html lang='ja'>
  <head>
    <title>{{ email_title }}</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta name='viewport' content='width=device-width'>
    <link rel='stylesheet' type='text/css' href='/assets/notifications/styles.css'>
    <style>
      .button__cell { background: {{ shop.email_accent_color }}; }
      a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
    </style>
  </head>

  <body>
    <table class='body'>
      <tr>
        <td>
          <table class='header row'>
            <tr>
              <td class='header__cell'>
                <center>
                  <table class='container'>
                    <tr>
                      <td>
                        <table class='row'>
                          <tr>
                            <td class='shop-name__cell'>
                              {%- if shop.email_logo_url %}
                                <img
                                  src='{{shop.email_logo_url}}'
                                  alt='{{ shop.name }}'
                                  width='{{ shop.email_logo_width }}'
                                >
                              {%- else %}
                                <h1 class='shop-name__text'>
                                  <a href='{{shop.url}}'>{{ shop.name }}</a>
                                </h1>
                              {%- endif %}
                            </td>

                            <td class='order-number__cell'>
                              <span class='order-number__text'> 注文 {{ order_name }} </span>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>

          <table class='row content'>
            <tr>
              <td class='content__cell'>
                <center>
                  <table class='container'>
                    <tr>
                      <td>
                        <h2>{{ email_title }}</h2>
                        <p>{{ email_body }}</p>
                        <table class='row actions'>
                          <tr>
                            <td class='actions__cell'>
                              <table class='button main-action-cell'>
                                <tr>
                                  <td class='button__cell'>
                                    <a
                                      href='{{ checkout_payment_collection_url }}'
                                      class='button__text'
                                      >今すぐ支払う</a
                                    >
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>

          <table class='row section'>
            <tr>
              <td class='section__cell'>
                <center>
                  <table class='container'>
                    <tr>
                      <td>
                        <h3>注文概要</h3>
                      </td>
                    </tr>
                  </table>
                  <table class='container'>
                    <tr>
                      <td>
                        <table class='row'>
                          {% for line in subtotal_line_items %}
                            <tr class='order-list__item'>
                              <td class='order-list__item__cell'>
                                <table>
                                  <td>
                                    {% if line.image %}
                                      <img
                                        src='{{ line | img_url: 'compact_cropped' }}'
                                        align='left'
                                        width='60'
                                        height='60'
                                        class='order-list__product-image'
                                      >
                                    {% endif %}
                                  </td>
                                  <td class='order-list__product-description-cell'>
                                    {% if line.product.title %}
                                      {% assign line_title = line.product.title %}
                                    {% else %}
                                      {% assign line_title = line.title %}
                                    {% endif %}

                                    {% if line.quantity < line.quantity %}
                                      {% capture line_display %}
                                        {{ line.quantity }} of {{ line.quantity }}
                                      {% endcapture %}
                                    {% else %}
                                      {% assign line_display = line.quantity %}
                                    {% endif %}

                                    <span class='order-list__item-title'>
                                      {{- line_title }}&nbsp;&times;&nbsp;{{ line_display -}}</span
                                    ><br>

                                    {% if line.variant.title != 'Default Title' %}
                                      <span class='order-list__item-variant'>{{ line.variant.title }}</span><br>
                                    {% endif %}

                                    {% if line.selling_plan_allocation %}
                                      <span class='order-list__item-variant'>
                                        {{- line.selling_plan_allocation.selling_plan.name -}}</span
                                      ><br>
                                    {% endif %}

                                    {% if line.refunded_quantity > 0 %}
                                      <span class='order-list__item-refunded'>返金済み</span>
                                    {% endif %}

                                    {% if line.discount_allocations %}
                                      {% for discount_allocation in line.discount_allocations %}
                                        {% if discount_allocation.discount_application.target_selection != 'all' %}
                                          <span class='order-list__item-discount-allocation'>
                                            <img
                                              src='{{ 'notifications/discounttag.png' | shopify_asset_url }}'
                                              width='18'
                                              height='18'
                                              class='discount-tag-icon'
                                            >
                                            <span>
                                              {{ discount_allocation.discount_application.title | upcase }}
                                              (-{{ discount_allocation.amount | money }})
                                            </span>
                                          </span>
                                        {% endif %}
                                      {% endfor %}
                                    {% endif %}
                                  </td>
                                  <td class='order-list__price-cell'>
                                    {% if line.original_line_price != line.final_line_price %}
                                      <del class='order-list__item-original-price'>
                                        {{- line.original_line_price | money -}}
                                      </del>
                                    {% endif %}
                                    <p class='order-list__item-price'>
                                      {% if line.final_line_price > 0 %}
                                        {{ line.final_line_price | money }}
                                      {% else %}
                                        無料
                                      {% endif %}
                                    </p>
                                  </td>
                                </table>
                              </td>
                            </tr>
                          {%- endfor %}
                        </table>

                        <table class='row subtotal-lines'>
                          <tr>
                            <td class='subtotal-spacer'></td>
                            <td>
                              <table class='row subtotal-table'>
                                {% for discount_application in discount_applications %}
                                  {% if discount_application.target_selection == 'all' %}
                                    {% capture discount_title %}
                                      {% if discount_application.title %}
                                        {{ discount_application.title | upcase }}
                                      {% else %}
                                        ディスカウント
                                      {% endif %}
                                    {% endcapture %}

                                    <tr class='subtotal-line'>
                                      <td class='subtotal-line__title'>
                                        <p>
                                          <span>ディスカウント</span>
                                          <span class='subtotal-line__discount'>
                                            <img
                                              src='{{ 'notifications/discounttag.png' | shopify_asset_url }}'
                                              width='18'
                                              height='18'
                                              class='discount-tag-icon'
                                            >
                                            <span class='subtotal-line__discount-title'>{{ discount_title }}</span>
                                          </span>
                                        </p>
                                      </td>
                                      <td class='subtotal-line__value'>
                                        <strong>-{{ discount_application.total_allocated_amount | money }}</strong>
                                      </td>
                                    </tr>
                                  {% endif %}
                                {% endfor %}

                                <tr class='subtotal-line'>
                                  <td class='subtotal-line__title'>
                                    <p>
                                      <span>小計</span>
                                    </p>
                                  </td>
                                  <td class='subtotal-line__value'>
                                    <strong>{{ subtotal_price | money }}</strong>
                                  </td>
                                </tr>

                                <tr class='subtotal-line'>
                                  <td class='subtotal-line__title'>
                                    <p>
                                      <span>配送</span>
                                    </p>
                                  </td>
                                  <td class='subtotal-line__value'>
                                    <strong>{{ shipping_price | money }}</strong>
                                  </td>
                                </tr>

                                <tr class='subtotal-line'>
                                  <td class='subtotal-line__title'>
                                    <p>
                                      <span>税金合計</span>
                                    </p>
                                  </td>
                                  <td class='subtotal-line__value'>
                                    <strong>{{ tax_price | money }}</strong>
                                  </td>
                                </tr>

                                {% if total_tip_received and total_tip_received > 0 %}
                                  <tr class='subtotal-line'>
                                    <td class='subtotal-line__title'>
                                      <p>
                                        <span>Tip</span>
                                      </p>
                                    </td>
                                    <td class='subtotal-line__value'>
                                      <strong>{{ total_tip_received | money }}</strong>
                                    </td>
                                  </tr>
                                {% endif %}
                              </table>
                            </td>
                          </tr>
                        </table>

                        <table class='row subtotal-lines'>
                          <tr>
                            {% if total_price > total_outstanding %}
                              <td class='subtotal-spacer'></td>
                              <td>
                                <table class='row subtotal-table'>
                                  <tr class='subtotal-line'>
                                    <td class='subtotal-line__title'>
                                      <p>
                                        <span>更新後の合計</span>
                                      </p>
                                    </td>
                                    <td class='subtotal-line__value'>
                                      <strong>{{ total_price | money }}</strong>
                                    </td>
                                  </tr>

                                  <tr class='subtotal-line'>
                                    <td class='subtotal-line__title'>
                                      <p>
                                        <span>支払い済</span>
                                      </p>
                                    </td>
                                    <td class='subtotal-line__value'>
                                      <strong>{{ net_payment | money }}</strong>
                                    </td>
                                  </tr>
                                </table>
                                <table class='row subtotal-table subtotal-table--total'>
                                  <tr class='subtotal-line'>
                                    <td class='subtotal-line__title'>
                                      <p>
                                        <span>支払い額</span>
                                      </p>
                                    </td>
                                    <td class='subtotal-line__value'>
                                      <strong>{{ total_outstanding | money_with_currency }}</strong>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            {% else %}
                              <table class='row subtotal-table subtotal-table--total'>
                                <tr class='subtotal-line'>
                                  <td class='subtotal-line__title'>
                                    <p>
                                      <span>支払い額</span>
                                    </p>
                                  </td>
                                  <td class='subtotal-line__value'>
                                    <strong>{{ total_outstanding | money_with_currency }}</strong>
                                  </td>
                                </tr>
                              </table>
                            {% endif %}
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>

          {% if shipping_address or billing_address or shipping_method %}
            <table class='row section'>
              <tr>
                <td class='section__cell'>
                  <center>
                    <table class='container'>
                      <tr>
                        <td>
                          <h3>お客様情報</h3>
                        </td>
                      </tr>
                    </table>
                    <table class='container'>
                      <tr>
                        <td>
                          <table class='row'>
                            <tr>
                              {% if shipping_address %}
                                <td class='customer-info__item'>
                                  <h4>配送先住所</h4>
                                  {{ shipping_address | format_address }}
                                </td>
                              {% endif %}

                              {% if billing_address %}
                                <td class='customer-info__item'>
                                  <h4>請求先住所</h4>
                                  {{ billing_address | format_address }}
                                </td>
                              {% endif %}
                            </tr>
                          </table>
                          {% if shipping_method %}
                            <table class='row'>
                              <tr>
                                <td class='customer-info__item customer-info__item--last'>
                                  <h4>配送方法</h4>
                                  <p>
                                    {{ shipping_method.title -}}
                                    <br>
                                    {{ shipping_method.price | money }}
                                  </p>
                                </td>
                              </tr>
                            </table>
                          {% endif %}
                        </td>
                      </tr>
                    </table>
                  </center>
                </td>
              </tr>
            </table>
          {% endif %}

          <table class='row footer'>
            <tr>
              <td class='footer__cell'>
                <center>
                  <table class='container'>
                    <tr>
                      <td>
                        <p class='disclaimer__subtext'>
                          ご不明な点がございましたら、このメールにご返信いただくか、<a href='mailto:{{ shop.email }}'>
                            {{- shop.email -}}</a
                          >までご連絡ください。
                        </p>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>

          <img src='{{ 'notifications/spacer.png' | shopify_asset_url }}' class='spacer' height='1'>
        </td>
      </tr>
    </table>
  </body>
</html>
